$color_claro: rgb(229, 217, 252);
$color_oscuro: rgb(15, 13, 17);
$color_fondos: rgba(112, 91, 152, 0.534);
$estilo_bordes: 2px solid rgba(229, 217, 252, 61%);
$estilo_bordes_oscuros: 2px solid  rgba(15, 13, 17, 61%)