footer{
    width: 100%;
    height: auto;
    background-color: $color_oscuro;
    color: $color_claro;
    text-align: center;

    .redesFooter{
        padding-top: 4%;
        padding-bottom: 2%;
        ul{
            padding-left: 0;
            li{
            display: inline-block;
            margin-left: 0.7%;
            margin-right: 0.7%;

            svg{
                fill: $color_claro;
                &:hover{
                    fill: $color_fondos;
                    }
                }
            }
        
        }
    }
    .footerFinal{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.8em;
        font-family: proxima-nova, sans-serif;
        font-style: italic;
        font-weight: 500;

        p{
            padding-left: 9%;
            padding-right: 8%;
            padding-bottom: 2%;
        }
        
        .parrafoFooter{
            padding-right: 11%;
            padding-left: 4%;
        }
    }
}

/*footer 404 error*/

.footerError{
    background-color:transparent;
}